@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text{
    text-transform: uppercase;
}

.logo{
    width: 200px;
}

.nav-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn{
    position: fixed;
    top: 10px;
    left: 10px;
}

