body{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: black;
}

.player{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper{
    margin: 1rem;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}

.track-art{
    margin: 25px;
    height: 150px;
    width: 150px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow:0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}

.now-playing{
    font-size: 1rem;
}

.track-name{
    font-size: 2rem;
}

.track-artist{
    margin-top: 5px;
    font-size: 1.2rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.active{
    color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}